<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/shim' %>
  <!-- CSS Reset -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2/build/reset/reset-min.css" />

  <%= yield :head %>
</head>
<body>

<%= yield %>


<%= debug(params) if Rails.env.development? %>
</body>
</html>
